@charset "UTF-8";
/* 日本語 */
body {
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
  background: url(../img/b001.gif);
  background-size: 48px 48px;
  color: #000;
}
body.is-fixed {
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.section-title {
  text-align: center;
  margin-bottom: 100px;
  padding-top: 100px;
}
@media screen and (min-width: 768px) {
  .section-title {
    margin-bottom: 200px;
  }
}

.section-title span {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 24px;
  letter-spacing: 6px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .section-title span {
    font-size: 36px;
  }
}

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #006A5E;
  text-align: center;
  color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width: 100px;
}

/* fadeUpをするアイコンの動き */
.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.container {
  position: relative;
}

.header {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100vh;
    background: #fff;
    padding-top: 100px;
    text-align: center;
    z-index: 5;
  }
}

.header__logo a img {
  width: 120px;
}

.header-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: block;
    padding-block: 38.5px;
    height: 100px;
  }
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 350px;
}

.header-nav__item a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-nav__item a:hover {
  opacity: 0.6;
}

.header-nav__tel {
  position: absolute;
  right: 0;
  top: 0;
  background: #006A5E;
  color: #fff;
  width: 300px;
  height: 100px;
  padding-block: 27px;
  text-align: center;
}

.header-nav__tel span {
  display: block;
}

.header__open {
  position: absolute;
  top: 26px;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: auto;
  line-height: 0;
  z-index: 200;
  position: fixed;
}
@media screen and (min-width: 768px) {
  .header__open {
    display: none;
  }
}

.drawer-icon {
  position: relative;
  width: 32px;
  height: 27px;
}
.drawer-icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 20px);
  height: 48px;
  content: "";
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  top: 10px;
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drawer-icon__bar {
  position: absolute;
  left: 0;
  width: 32px;
  height: 3px;
  background-color: #fff;
  border-radius: 6px;
  -webkit-transition: top 0.3s linear, -webkit-transform 0.3s linear;
  transition: top 0.3s linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer-icon__bar:nth-of-type(1) {
  top: 0;
  left: 0;
  background: #fff;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 50%;
  background: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.drawer-icon__bar:nth-of-type(3) {
  bottom: 0;
  background: #fff;
}

.drawer-content {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100dvh;
  padding-top: 59px;
  padding-bottom: 60px;
  overflow-y: auto;
  background: #006A5E;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .drawer-content {
    display: none !important;
  }
}

.drawer-content__menu {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: auto;
}

.drawer-content__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 1.572;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.drawer-content__link:hover {
  opacity: 0.7;
}

.drawer-content__link img {
  width: 25px;
}

.drawer-content__button {
  margin-top: 20px;
}

.slider-container {
  position: relative;
}

.slider-container__img img {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120px;
}
@media screen and (min-width: 1200px) {
  .slider-container__img img {
    display: none;
  }
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {
  position: relative;
  z-index: 1;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .slider {
    /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
    height: calc(100vh - 100px); /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  }
}

/*　背景画像設定　*/
.slider-item01 {
  background: url(../img/mv1.jpg);
}

.slider-item02 {
  background: url(../img/mv2.jpg);
}

.slider-item03 {
  background: url(../img/mv3.jpg);
}

.slider-item {
  width: 100%; /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  height: 100vh; /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat; /*背景画像をリピートしない*/
  background-position: center; /*背景画像の位置を中央に*/
  background-size: cover; /*背景画像が.slider-item全体を覆い表示*/
}
@media screen and (min-width: 768px) {
  .slider-item {
    height: calc(100vh - 100px);
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 100%;
    padding-left: 230px;
  }
}

.concept {
  position: relative;
  padding-bottom: 100px;
  padding-top: 100px;
}
.concept__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 900px) {
  .concept__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
}

.concept__title {
  font-size: 18px;
  line-height: 2;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .concept__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 900px) {
  .concept__title {
    text-align: left;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
}

.concept__text {
  line-height: 2;
}
@media screen and (min-width: 900px) {
  .concept__text {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    line-height: 3;
  }
}

.concept__logo {
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  width: 300px;
}
@media screen and (min-width: 768px) {
  .concept__logo {
    width: 600px;
    top: 80px;
  }
}

.concept__logo img {
  opacity: 0.8;
}

.menu__bg {
  position: relative;
  background: url(../img/bg1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  margin-bottom: 100px;
}

.menu__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .menu__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
  }
}

.menu__flex1 p {
  padding-top: 50px;
}

.menu__flex2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .menu__flex2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu__flex-text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 3;
  font-size: 18px;
  padding-top: 150px;
}
@media screen and (min-width: 768px) {
  .menu__flex-text {
    width: 50%;
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu__flex-img {
    width: 50%;
  }
}

.access {
  padding-top: 200px;
}

.access__bg {
  position: relative;
  background: url(../img/bg2.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  margin-bottom: 100px;
}

.access__map-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .access__map-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .access__map-map {
    width: 50%;
  }
}

.map__iframe {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.access__map-text {
  background: #fff;
  display: grid;
  place-items: center;
  padding-block: 150px;
}
@media screen and (min-width: 768px) {
  .access__map-text {
    width: 50%;
    padding-block: 0;
  }
}

.access__map-text div p {
  font-size: 18px;
  line-height: 2;
}
@media screen and (min-width: 900px) {
  .access__map-text div p {
    font-size: 24px;
  }
}

.footer {
  background: #006A5E;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer__inner {
  padding-inline: 30px;
}
@media screen and (min-width: 900px) {
  .footer__inner {
    padding-inline: 100px;
  }
}

.footer__flex {
  margin-bottom: 30px;
}
@media screen and (min-width: 900px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item {
  line-height: 2;
}

.footer__item-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer__nav-list {
  display: none;
}
@media screen and (min-width: 900px) {
  .footer__nav-list {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
}

.footer__nav-item a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__nav-item a:hover {
  opacity: 0.6;
}

.footer__copyright {
  text-align: center;
}