@use "sass:map";
@charset "utf-8";

/* 日本語 */

// $font-ja-noto: "Noto Sans JP", sans-serif;
// $font-ja-kiwi: "Kiwi Maru", serif;



$breakpoints: (
  ssm: "screen and (min-width: 400px)",
  sm: "screen and (min-width: 600px)",
  md: "screen and (min-width: 768px)",
  lg: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1200px)",
);

@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  background: #EAE8E3;
  &.is-fixed {
    overflow: hidden;
  }

}


#wrap {
  // サイト横ずれ防止
  max-width: 100vw;
  width: 100%;
  overflow: hidden;

}

.inner {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 30px;
}

.br-inline {
  display: inline-block;
}

        

.section-title {
  font-weight: bold;
  color: #C2543D;
}




@media (min-width: 1000px) {
  .backInLeftTrigger {
    opacity: 0;
  }
}


.more {}

.more a {
  transition: all  0.3s ease;
  font-weight: bold;
  &:hover {
color: #C2543D;

  }
      
 
      
}

.more  a img {
  width: 20px;
  transition: all  0.3s ease ;
}


.more a:hover img {
  transform: translateX(10px);
  filter: brightness(0) saturate(100%) invert(41%) sepia(37%) saturate(996%) hue-rotate(324deg) brightness(93%) contrast(89%);
}





.header {
  padding-block: 28px;
  position: fixed;
  width: 100%;
  z-index: 200;


}

.header__inner {
  padding-inline: 30px;
  @include mq(lg) {
    padding-inline: 50px;
  }
}

.header__flex {

}

.header__logo {
  color: #C2543D;
  margin-top: 50px;
  @include mq(ssm) {
    margin-top: 0;
      
  }

 

}

.header__logo  a {
  font-weight: bold;

}



.header__nav {

  display: flex;
  
  justify-content: center;
  align-items: center;

  @include mq(ssm) {
    justify-content: right;
  }
  @include mq(lg) {
    justify-content: space-between;
  }

}

.header__list {

  display: none;
  @include mq(lg) {
    display: block;
    display: flex;
    gap: 30px;
  }
}
.header__list.change-w {
color: #fff;
  
}
.header__list.change-w2 {
color: #fff;
  
}

.header__item {

}

.header__item a {
  font-weight: bold;
  transition: all  0.3s ease;
  &:hover {
    color: #C2543D;
  }
}

.header__open {
  position: absolute;
  // top,right調整
  top: 40px;
  left: 30px;
  transform: translateY(-50%);
  margin-left: auto;
  line-height: 0;

   // break-point確認
  @include mq(lg) {
    display: none;
  }
}

.drawer-icon {
  position: relative;
  width: 32px;
  height: 27px;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 20px);
    // 高さ
    height: 80px;
    content: "";
    transform: translate(-50%, -50%);
  }
}

.drawer-icon.is-checked {
  & .drawer-icon__bar:nth-of-type(1) {
    top: 10px;
    width: 100%;
    transform: rotate(45deg);
  }

  & .drawer-icon__bar:nth-of-type(2) {
    display: none;
  }

  & .drawer-icon__bar:nth-of-type(3) {
    top: 10px;
    transform: rotate(-45deg);
  }
}

.drawer-icon__bar {
  position: absolute;
  left: 0;
  width: 32px;
  height: 3px;
  background-color: #000;
  border-radius: 6px;
  transition: transform 0.3s linear, top 0.3s linear;

  &:nth-of-type(1) {
    top: 0;
    left: 0;
    background: #000;
  }

  &:nth-of-type(2) {
    top: 50%;
    background: #000;
    transform: translateY(-50%);
  }

  &:nth-of-type(3) {
    bottom: 0;
    background: #000;
  }
}

.drawer-content {
  position: fixed;
  // 高さ変更
  top: 0px;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  // 高さ変更
  height: 100dvh;
  padding-top: 140px;
  padding-bottom: 60px;
  overflow-y: auto;
  background: #fff;
  color: #000;
  @include mq(ssm) {
    padding-top: 100px;
  }



  @include mq(lg) {
    display: none !important;
  }
}


.drawer-content__menu {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.drawer-content__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 1.572;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease;

  &:hover {
    color: #C2543D;
  }
}














.slogan {
  padding-bottom: 150px;
}

.slogan__title {
  display: none;


  @include mq(md) {
    display: block;
    display: grid;
    place-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
  }

}

.slogan__title1 {

  padding-top: 150px;
  padding-bottom:  70px;

  display: block;
@include mq(ssm) {
  padding-top: 100px;
 
}
@include mq(sm) {
  padding-bottom: 100px;
}
  @include mq(md) {
      display: none;
  }
}




.slogan__title  img {

}



.slogan__container {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    padding-inline: 30px;
}



.slogan__text {
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.18em;
  margin-bottom: 50px;
  @include mq(sm) {
    font-size: 28px; 
  }
}

/*========= 流れるテキスト ===============*/

/*全共通*/

.slide-in {
	overflow: hidden;
    display: inline-block;
}

.slide-in_inner {
	display: inline-block;

}




.mission {

  padding-bottom: 200px;
}

.mission__title {
  font-size: 28px;
  font-weight: bold;
  line-height: 2;
  margin-top: 75px;
  margin-bottom: 50px;
  @include mq(sm) {
    font-size: 36px;
  }

}

.mission__text {
  margin-bottom: 50px;
  line-height: 3;
}


.more-mission {
  display: flex;
  justify-content: right;

}
.more-mission  a {
  border-bottom: 1px solid #000;
  width: 60vw;
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
}

.mission__list {
  width: 100%;
  margin-top: 200px;
   display: grid;
   grid-template-columns: 1fr ;
  gap: 50px;

  aspect-ratio: 3 / 2;
  @include mq(sm) {
    height: 80vh;
    width: 100%;
    margin-top: 200px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    aspect-ratio: 3 / 2;
  }
}

.mission__item1 {
  @include mq(sm) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

}
.mission__item2 {
  @include mq(sm) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

}
.mission__item3 {
  @include mq(sm) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

}

.mission__list li img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* 左から */

.fadeLeft{
  animation-name:fadeLeftAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeLeftAnime{
    from {
      opacity: 0;
    transform: translateX(-100px);
    }
  
    to {
      opacity: 1;
    transform: translateX(0);
    }
  }

  /* 右から */

.fadeRight{
  animation-name:fadeRightAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeRightAnime{
    from {
      opacity: 0;
    transform: translateX(100px);
    }
  
    to {
      opacity: 1;
    transform: translateX(0);
    }
  }

.service {
  padding-bottom: 200px;
}

.service__flex {
  display: flex;
  justify-content: space-between;
}

.service__flex-left{
  width: 30%;
}

.service__flex-right {
  width: 68%;
}

.service__title {
  font-size: 28px;
  font-weight: bold;
  line-height: 2;
  margin-top: 50px;
  margin-bottom: 50px;
  @include mq(sm) {
    font-size: 36px;
  }
}

.service__text {
  margin-bottom: 50px;
  line-height: 3;
}

.more-service {
  display: flex;
  justify-content: right;
}

.more-service a {
  border-bottom: 1px solid #000;
  width: 60vw;
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
}

.service__img {
  padding-top: 200px;
  padding-left: 50px;
  text-align: right;
   
}

.service__img img {
  object-fit: cover;
  width: 100%;
  max-width: 1400px;


}

/*==================================================
じわっ
===================================*/

/* ぼかしから出現 */
.blur{
  animation-name:blurAnime;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
}

@keyframes blurAnime{
  from {
  filter: blur(10px);
  transform: scale(1.02);
  opacity: 0;
  }

  to {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
 
.blurTrigger{
    opacity: 0;
}

.news {
  padding-block: 100px;
  margin-bottom: 200px;
  background: #E1DFD9;
}

.news__container {
  margin-top: 75px;

}

.news__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.news__item {
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
 
}

.news__item-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all  0.3s ease;
  &:hover {
 color: #C2543D;
  }
      

}

.news__text {

}

.news__time {
  display: inline-block;
  font-weight: bold;
  margin-right: 20px;
  transition: all  0.3s ease;

      
}

.news__item-flex:hover .news__time {
  color: #C2543D;
}

.news__content-title {
  display: inline-block;
}

.news__item-more {
  display: inline-block;
}



.news__item-more img {
  width: 20px;
  min-width: 20px;

  

  transition: all  0.3s ease;

  
}

/* .more a をホバーしたときに img を移動 */
.news__item-flex:hover .news__item-more img {
  transform: translateX(10px);
  filter: brightness(0) saturate(100%) invert(41%) sepia(37%) saturate(996%) hue-rotate(324deg) brightness(93%) contrast(89%);
}

.news__more {
  text-align: right;
  margin-top: 50px;
}

.news__more img{
  margin-bottom: 3px;
}


.blog {
  padding-bottom: 200px;
}


.blog__list {
  margin-top: 75px;
   display: grid;
   grid-template-columns: 1fr;
  
   gap: 100px;
   @include mq(md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 30px;
   }  
}




.blog__item  {}

.blog__item a {
  transition: all  0.3s ease;
  &:hover {
    opacity: 0.6;
    color: #C2543D;
  }
      
}

.blog__img {
  margin-bottom: 10px;
}

.blog__img img {
  width: 100%;
aspect-ratio: 16 / 9;
object-fit: cover;
}

.blog__time {
  display:inline-block;
  font-weight: bold;
  margin-bottom: 20px;
}

.blog__content-title {}


/* .more a をホバーしたときに img を移動 */
.blog__item-flex:hover .blog__item-more img {
  transform: translateX(10px);
  filter: brightness(0) saturate(100%) invert(41%) sepia(37%) saturate(996%) hue-rotate(324deg) brightness(93%) contrast(89%);
}

.blog__more {
  text-align: right;
  margin-top: 50px;
}
.blog__more img {
margin-bottom: 3px;
width: 20px;
}

/*全共通*/

.bgextend {
  animation-name: bgextendAnimeBase;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden; /*　はみ出た色要素を隠す　*/
  opacity: 0;
}

@keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/*中の要素*/
.bgappear {
  animation-name: bgextendAnimeSecond;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*左から右*/
.bgLRextend::before {
  animation-name: bgLRextendAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #C2543D /*伸びる背景色の設定*/
}
@keyframes bgLRextendAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger {
  opacity: 0;
}


.delay-time03{  
  animation-delay: 0.3s;
}
.delay-time06{  
  animation-delay: 0.6s;
}

.delay-time1{  
  animation-delay: 1s;
}
.delay-time11{  
  animation-delay: 1.1s;
}
.delay-time11s{  
  @include mq(md) {
    animation-delay: 1.1s;
  }
  
}
.delay-time15{  
  animation-delay: 1.5s;
}

.delay-time16{  
  animation-delay: 1.6s;
}
.delay-time16s{  
  @include mq(md) {
    animation-delay: 1.6s;
  }

}
.delay-time21{  
  animation-delay: 2.1s;
}
.delay-time21s{  
  @include mq(md) {
    animation-delay: 2.1s;
  }
 
}

.blog__img span {
  display: block;
}


.footer {
  background: #E1DFD9;
  padding-top: 100px;
  padding-bottom: 30px;
}

.footer__nav {
  margin-bottom: 50px;

}

.footer__list {}

.footer__item {
  line-height: 2.5;
 
}

.footer__item a {
  font-weight: bold;
  transition: all  0.3s ease;
  &:hover {
    color: #C2543D;
  }
      
}

.footer__title {
  color: #C2543D;
  margin-bottom: 15px;
}

.footer__copyright {
  text-align: center;
}

.footer__copyright small {}





/* 左上へ */
.flipLeftTop{
  animation-name:flipLeftTopAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes flipLeftTopAnime{
    from {
     transform: translate(-20px,80px) rotate(-15deg);
    opacity: 0;
    }
  
    to {
     transform: translate(0,0) rotate(0deg);
    opacity: 1;
    }
  }
  
    .flipLeftTopTrigger
{
      opacity: 0;
  }


  // wp

.wp-section-title {
  color: #C2543D;
  font-size: 32px;
  letter-spacing: 0.2em;
  position: relative;
  line-height: 3;
  margin-bottom: 50px;
  

}
.wp-section-title::before {
  background-color: #C2543D;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 4rem;
}


/*========= 流れるテキスト ===============*/

/*全共通*/

.slide-in {
  overflow: hidden;
    display: inline-block;
}

.slide-in_inner {
  display: inline-block;

}

/*左右のアニメーション*/
.leftAnime{
    opacity: 0;/*事前に透過0にして消しておく*/
}

.slideAnimeLeftRight {
  animation-name:slideTextX100;
  animation-duration:2.0s;
  animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes slideTextX100 {
  from {
  transform: translateX(-100%); /*要素を左の枠外に移動*/
        opacity: 0;
  }

  to {
  transform: translateX(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}

.slideAnimeRightLeft {
  animation-name:slideTextX-100;
  animation-duration:2.0s;
  animation-fill-mode:forwards;
    opacity: 0;
}


@keyframes slideTextX-100 {
  from {
  transform: translateX(100%);/*要素を右の枠外に移動*/
    opacity: 0;
  }

  to {
  transform: translateX(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}




  
.wp-mission {
  padding-top: 100px;
  padding-bottom: 150px;
}

.wp-mission__title {
  font-size: 28px;
  margin-bottom: 50px;
  line-height: 2;
  font-weight: bold;
  letter-spacing: 0.2em;
  @include mq(md) {
    font-size: 36px;
  }
  
}

.wp-mission__text {

font-weight: bold;
line-height: 3;
&:first-of-type {
  margin-bottom: 30px;

}
&:last-of-type {
  margin-bottom: 100px;

}
}

.wp-contact {
  height:100vh;
}

.wp-contact__title {
  font-weight: normal;
}


.wp-archive {
  padding-top: 100px;
  padding-bottom: 150px;

}


.wp-archive .blog__content-title{
  margin-bottom: 20px;

}
.wp-archive .blog__list {
  margin-bottom: 100px;
}
.blog__img .wp-archive-img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.wp-archive__page-nation {
  text-align: center;
  margin-bottom: 100px;
}

.wp-pagenavi {
  
  display: flex;
  justify-content: center;
  gap:8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 50px;
}

.wp-archive__page-nation .page  {
  padding: 8px;
  border: none;
  margin: 0;
  display: block;
  cursor: pointer;
}


.wp-archive__page-nation .pages {
  margin-right: 20px;
  border: none;
  
 
}


.wp-archive__page-nation .current {
  color: #fff;
  background: #C2543D;
  border: none;
  padding: 8px;
  margin: 0;
  display: block;
}
.wp-archive__page-nation .extend {

  border: none;
}

.wp-archive__page-nation .previouspostslink {

  border: none;
}
.wp-archive__page-nation .nextpostslink {

  border: none;
}



.wp-single__inner {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    padding-inline: 30px;
}


.wp-single__list {
  margin-bottom: 100px;
  margin-top: 60px;
}

 .wp-single__img {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  display: block;

}

.wp-single__page-nation {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 100px;
}

.wp-single__page-nation a {
  transition: all  0.3s ease;
  &:hover {
    color: #C2543D;
  }
}

.more-single {
  text-align: right;
  
}
.more-single  a {
  border-bottom: none;

}


