@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  background: #F3ECE4;
  color: #fff;
}
body.is-checked {
  overflow: hidden;
}

.inner {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 30px;
}

.section-title {
  padding-top: 30px;
  color: #5a2901;
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 600px) {
  .br-hidden-sm {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 60px;
  background: #000;
}
@media screen and (min-width: 768px) {
  .header {
    height: 90px;
  }
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-block: 10px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-block: 15px;
  }
}

.header__logo a {
  display: block;
}

.header__logo a img {
  width: 120px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .header__logo a img {
    width: 185px;
    height: 60px;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.header__item {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__item:hover {
  opacity: 0.7;
}

.header__item a img {
  width: 24px;
}

.header__open {
  margin-left: auto;
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .header__open {
    display: none;
  }
}

.drawer-icon {
  position: relative;
  width: 32px;
  height: 27px;
}
.drawer-icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 20px);
  height: 64px;
  content: "";
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.drawer-icon.is-checked .drawer-icon__bar .drawer-icon__dot {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  top: 10px;
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drawer-icon__bar {
  position: absolute;
  left: 0;
  width: 32px;
  height: 3px;
  background-color: #fff;
  border-radius: 6px;
  -webkit-transition: top 0.3s linear, -webkit-transform 0.3s linear;
  transition: top 0.3s linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer-icon__bar .drawer-icon__dot {
  position: absolute;
  top: 0;
  right: 0;
  left: 28px;
  width: 4px;
  height: 3px;
  background: #fff;
  border-radius: 6px;
}
.drawer-icon__bar:nth-of-type(1) {
  top: 0;
  left: 0;
  width: 25.6px;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 50%;
  background: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.drawer-icon__bar:nth-of-type(3) {
  bottom: 0;
  background: #fff;
}

.drawer-content {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 20;
  display: none;
  width: 100%;
  height: calc(100dvh - 60px);
  padding-top: 59px;
  padding-bottom: 60px;
  overflow-y: auto;
  background: #000;
}
@media screen and (min-width: 768px) {
  .drawer-content {
    display: none !important;
  }
}

.drawer-content__menu {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: auto;
}

.drawer-content__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 1.572;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.drawer-content__link img {
  width: 24px;
}
.drawer-content__link:hover {
  opacity: 0.7;
}

.fv {
  position: relative;
  margin-bottom: 28px;
}
@media screen and (min-width: 900px) {
  .fv {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .fv {
    margin-bottom: 80px;
  }
}

.fv__title {
  position: absolute;
  left: 25px;
  bottom: 50px;
}
@media screen and (min-width: 768px) {
  .fv__title {
    left: 50px;
    bottom: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .fv__title {
    bottom: 100px;
  }
}

.fv__title-it {
  font-size: 20px;
  display: block;
  opacity: 0.9;
  margin-bottom: 8px;
}
@media screen and (min-width: 600px) {
  .fv__title-it {
    font-size: 30px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .fv__title-it {
    font-size: 50px;
  }
}

.fv__title-ja {
  font-size: 16px;
  display: block;
  opacity: 0.9;
}
@media screen and (min-width: 600px) {
  .fv__title-ja {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .fv__title-ja {
    font-size: 24px;
  }
}

.concept {
  margin-bottom: 100px;
}
@media screen and (min-width: 1200px) {
  .concept {
    margin-bottom: 140px;
  }
}

.concept__title {
  margin-bottom: 32px;
  color: #5a2901;
}
@media screen and (min-width: 900px) {
  .concept__title {
    margin-bottom: 60px;
  }
}

.concept__title-it {
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .concept__title-it {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .concept__title-it {
    font-size: 32px;
  }
}

.concept__title-ja {
  font-size: 14px;
  display: block;
}
@media screen and (min-width: 768px) {
  .concept__title-ja {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .concept__title-ja {
    font-size: 20px;
  }
}

@media screen and (min-width: 900px) {
  .concept__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.concept__img {
  margin-bottom: 32px;
}
@media screen and (min-width: 900px) {
  .concept__img {
    width: 59%;
    margin-bottom: 0;
  }
}
.concept__text {
  background: #5a2901;
  opacity: 0.9;
  padding: 10px 10px;
  height: 300px;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 900px) {
  .concept__text {
    width: 39%;
    height: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .concept__text {
    height: 600px;
  }
}

.concept__text p {
  font-size: 14px;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .concept__text p {
    margin-bottom: 30px;
    line-height: 2.5;
  }
}
@media screen and (min-width: 1200px) {
  .concept__text p {
    font-size: 16px;
  }
}

.menu {
  margin-bottom: 100px;
}
@media screen and (min-width: 1200px) {
  .menu {
    margin-bottom: 140px;
  }
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 72px;
}
.menu__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 900px) {
  .menu__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__text {
  background: #5a2901;
  padding: 10px 10px;
  height: 300px;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 900px) {
  .menu__text {
    width: 39%;
    height: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__text {
    height: 600px;
  }
}

.menu__text p {
  font-size: 14px;
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.8;
}
@media screen and (min-width: 900px) {
  .menu__text p {
    margin-bottom: 30px;
    line-height: 2.5;
  }
}
@media screen and (min-width: 1200px) {
  .menu__text p {
    font-size: 16px;
  }
}

.menu__img {
  margin-bottom: 32px;
}
@media screen and (min-width: 900px) {
  .menu__img {
    width: 59%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 900px) {
  .menu-item-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.blog {
  color: #5a2901;
  padding-top: 40px;
  padding-bottom: 80px;
}

.blog__title {
  font-size: 24px;
  margin-bottom: 40px;
}

.blog__flex {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .blog__flex {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 56px 24px;
  }
}

.blog__post-title {
  font-size: 16px;
  margin-bottom: 8px;
}

.blog__img {
  margin-bottom: 16px;
}

.blog__time {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.blog__content {
  font-size: 14px;
}

.blog__more {
  font-size: 16px;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .blog__more {
    font-size: 24px;
  }
}

.blog__more a {
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog__more a:hover {
  opacity: 0.7;
}

.about__map {
  margin-bottom: 80px;
}
@media screen and (min-width: 1200px) {
  .about__map {
    margin-bottom: 100px;
  }
}

.map__iframe {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.footer {
  position: relative;
  background: #5a2901;
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__flex-text {
  display: grid;
  place-items: center;
  font-size: 14px;
  line-height: 2;
  padding-block: 60px;
}
@media screen and (min-width: 768px) {
  .footer__flex-text {
    width: 50%;
    font-size: 16px;
    padding-block: 0;
    height: 300px;
  }
}

.footer__logo img {
  width: 120px;
}

.footer__item a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__item a:hover {
  opacity: 0.7;
}

.footer__logo {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__logo:hover {
  opacity: 0.6;
}

.footer__img {
  text-align: right;
}
@media screen and (min-width: 768px) {
  .footer__img {
    width: 50%;
  }
}
.footer__img img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .footer__img img {
    height: 300px;
  }
}

.footer__cpoyright {
  padding: 10px;
  background: #000;
  color: #fff;
  text-align: center;
}

.footer__top {
  position: absolute;
  right: 25px;
  bottom: 60px;
}
@media screen and (min-width: 600px) {
  .footer__top {
    right: 30px;
    bottom: 70px;
  }
}
@media screen and (min-width: 900px) {
  .footer__top {
    right: 50px;
    bottom: 80px;
  }
}
.footer__top img {
  width: 80px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__top img:hover {
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .footer__top img {
    width: 100px;
  }
}

#slider {
  width: 100%;
  height: 70vh; /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}
@media screen and (min-width: 600px) {
  #slider {
    height: 100vh; /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  }
}

/*== ヘッダー追従のためのCSS */
#header {
  position: fixed; /*追従ナビのためpositionをfixedにする*/
  top: 0; /*ポジション設定topを0*/
  height: 90px; /*headerの高さを指定*/
  width: 100%; /*position:fixed;にしたため、横幅100%を設定*/
}

/*==================================================
ふわっ
===================================*/
/* fadeUp */
.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger {
  opacity: 0;
}

header.header-wp {
  position: static;
}

.footer__top.top-hidden {
  display: none;
}

.archive-wp {
  color: #5a2901;
  padding-top: 40px;
  padding-bottom: 80px;
}

.archive-wp__title {
  font-size: 24px;
  margin-bottom: 40px;
}

.archive-wp__flex {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .archive-wp__flex {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 56px 24px;
  }
}

.archive-wp__post-title {
  font-size: 16px;
  margin-bottom: 8px;
}

.archive-wp__img {
  margin-bottom: 16px;
}

.archive-wp__time {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.archive-wp__content {
  font-size: 14px;
}

.archive-wp__pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.archive-wp__num {
  padding: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.archive-wp__num:hover {
  opacity: 0.7;
}

.archive-wp__num.is-current {
  color: #fff;
  background: #5a2901;
}

.single-wp {
  color: #5a2901;
  padding-top: 40px;
  padding-bottom: 80px;
}

.single-wp__container {
  margin-bottom: 40px;
  max-width: 800px;
  margin: 0 auto 48px;
}

.single-wp__title {
  font-size: 24px;
  margin-bottom: 40px;
  width: 100%;
}

.single-wp__post-title {
  font-size: 16px;
  margin-bottom: 8px;
  text-align: left;
}

.single-wp__img {
  margin-bottom: 32px;
}
.single-wp__time {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.single-wp__content {
  font-size: 14px;
}

.single-wp__pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single-wp__num {
  padding: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.single-wp__num:hover {
  opacity: 0.7;
}

.single-wp__num.is-current {
  color: #fff;
  background: #5a2901;
}

.contact-wp {
  color: #5a2901;
  padding-top: 40px;
  padding-bottom: 80px;
}

.contact-wp__container {
  margin-bottom: 40px;
  max-width: 800px;
  margin: 0 auto 48px;
}

.contact-wp__title {
  font-size: 24px;
  margin-bottom: 40px;
  width: 100%;
}