@use "sass:map";
@charset "utf-8";

/* 日本語 */

// $font-ja-noto: "Noto Sans JP", sans-serif;
// $font-ja-kiwi: "Kiwi Maru", serif;



$breakpoints: (
  sm: "screen and (min-width: 600px)",
  md: "screen and (min-width: 768px)",
  lg: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1200px)",
);

@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.1em;
      // ドロワーメニュー動くのを防ぐ
      &.is-fixed {
        overflow: hidden;
      }
    
}
.wrap {
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
}

.inner {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 30px;
}



.section-title-flex {

  @include mq(lg) {
    display: flex;
    justify-content: center;
  }

}

.section-title {
  @include mq(lg) {
    width: 37%;
  }


}

.section-title-en {
  display: block;
  font-size: 24px;

}

.section-title-ja {
  display: block;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  @include mq(lg) {
      margin-bottom: 0;
  }
}


.section-title-text {
  line-height: 2;


  @include mq(lg) {
    width: 50%;
  }
}

.more {
  text-align: center;
  padding-bottom: 60px;
  margin-top: 30px;
  @include mq(md) {
    text-align: right;
    margin-right: 50px;
   
      
  }

}

.more a {
  transition: all  0.3s ease;
  &:hover {
    opacity: 0.6;
  }
      
}

.more a img {
  width: 150px;
  @include mq(md) {
    width: 200px;
  }
}

.header {
  height: 80px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #f4f4f4;
  background: #fff;
  z-index: 2000;

}


.header__inner {
  position: relative;
  padding-right: 50px;
}

.header__site-title {
  position: absolute;
  background: #014592;
  color: #fff;
  top: 0;
  left: 0;
  width: 180px;
  height: 80px;
  display: grid;
  place-items: center;
  font-size: 18px;
  transition: height 0.3s; /* 高さの変化にトランジションを追加 */
  z-index: 10;
  padding-inline: 5px;
  @include mq(md) {
    height: 180px;
  }
}
.header__site-title2 {
  position: absolute;
  background: #014592;
  color: #fff;
  top: 0;
  left: 0;
  width: 180px;
  height: 80px;
  display: grid;
  place-items: center;
  font-size: 18px;
  transition: height 0.3s; /* 高さの変化にトランジションを追加 */
  z-index: 10;
  padding-inline: 5px;

}

/* スクロール時のスタイル */
.header__site-title.scrolled {
  height: 80px; /* スクロール時の高さを変更 */

}

.header__site-title a {}


.header__flex {

}

.header__nav {
 padding-block: 28px;
 display: none;
 @include mq(md) {
     display: block;
 }
 


}

.header__list {
  display: flex;
  justify-content: right;
  gap: 30px;



}

.header__item {}

.header__item a {
  transition: all  0.3s ease;
  &:hover {
    opacity: 0.6;
  }
      
}


.header__open {
  position: absolute;
  // top,right調整
  top: 0;
  right: 0px;
  margin-left: auto;
  line-height: 0;
  background: #014592;
  padding-block: 26.5px;
  padding-inline: 20px;
  z-index: 200;
  @include mq(md) {
    top: 50%;
    transform: translateY(-50%);
      
  }





  //  break-point確認
  @include mq(md) {
    display: none;
  }
}

.drawer-icon {
  position: relative;
  width: 32px;
  height: 27px;




  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 20px);
    // 高さ
    height: 48px;
    content: "";
    transform: translate(-50%, -50%);
  }
}

.drawer-icon.is-checked {
  & .drawer-icon__bar:nth-of-type(1) {
    top: 10px;
    width: 100%;
    transform: rotate(45deg);
  }

  & .drawer-icon__bar:nth-of-type(2) {
    display: none;
  }

  & .drawer-icon__bar:nth-of-type(3) {
    top: 10px;
    transform: rotate(-45deg);
  }
}

.drawer-icon__bar {
  position: absolute;
  left: 0;
  width: 32px;
  height: 3px;
  background-color: #fff;
  border-radius: 6px;

  transition: transform 0.3s linear, top 0.3s linear;

  &:nth-of-type(1) {
    top: 0;
    left: 0;
    background: #fff;
  }

  &:nth-of-type(2) {
    top: 50%;
    background: #fff;
    transform: translateY(-50%);
  }

  &:nth-of-type(3) {
    bottom: 0;
    background: #fff;
  }
}

.drawer-content {
  position: fixed;
  // 高さ変更
  top: 80px;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  // 高さ変更
  height: calc(100dvh - 80px);
  padding-top: 59px;
  padding-bottom: 60px;
  overflow-y: auto;
  background: #fff;
  color: #014592;

  @include mq(md) {
    display: none !important;
  }
}

.drawer-content__menu {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.drawer-content__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 1.572;
  text-align: center;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.drawer-content__link img {
  width: 25px;
}

.drawer-content__button {
  margin-top: 20px;
}

.mv {
 top: 80px;
 left: 0;
 width: 100%;
 height: calc(100vh - 80px) ;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  position: relative;
}

#slider {
  position: absolute;
  z-index: -1;
  
  width: 100%;
  height: calc(100vh - 80px) ;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}



.mv__card-img {
  position: absolute;
  top: 55%;
  left: 10%;
  width: 300px;
  height: 100%;
  opacity: 0;
  z-index: 30;
  transition: opacity 1s ease-in-out;
  @include mq(sm) {
    width: 500px;
  }
  @include mq(xl) {
    width: 700px;
  }

}



.mv__card-img:nth-child(1) {
  animation: fadeInOut 30s linear infinite;
}

.mv__card-img:nth-child(2) {
  animation: fadeInOut 30s linear infinite;
  animation-delay: 10s;
}

.mv__card-img:nth-child(3) {
  animation: fadeInOut 30s linear infinite ;
  animation-delay: 20s ;
}

@keyframes fadeInOut {
  0%, 33.33%, 100% {
    opacity: 0 ;
  }
  10%, 23.33% {
    opacity: 1 ;
  }
}

.slogan {
  height: 700px;
  padding-top: 350px;
  position: relative;
  @include mq(md) {
    height: 900px;
  }
}

/*==================================================
スライダーのためのcss
===================================*/
.slider img {

  width:1000px;/*スライダー内の画像を横幅100%に*/
  height:auto;
  @include mq(md) {
    width:3000px;/*スライダー内の画像を横幅100%に*/
    height:auto;
  }
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
  margin:0 10px;/*スライド左右の余白調整*/
}

.slogan__logo-c-img {
  display: inline-block;
  position: absolute;
  top: 190px;
  left: 60px;

  width: 400px; 
  height: 400px; 
  z-index: -1;
  @include mq(md) {
    top: 160px;
    width: 600px; 
    height: 600px; 
  }
  
}
.slogan__logo-c-img img{
  width: 100%;
  height: 100%;
  animation: rotate 220s linear infinite;
  
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

.about-us {
  margin-bottom: 150px;
  @include mq(md) {
    margin-bottom: 300px;
  }
}

.reason {
  margin-bottom: 150px;
  @include mq(md) {
    margin-bottom: 250px;
  }

}


/*==================================================
スライダーのためのcss
===================================*/
.slider1 {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width:94%;
  margin-bottom: 50px;
  margin-top: 50px;
  @include mq(md) {
    margin-left: 300px;
    margin-bottom: 100px;
    margin-top: 100px;
  }


}

.slider1 li {
  position: relative;
}

.slider1 img {
   width:100%;/*スライダー内の画像を横幅100%に*/
   height:auto;
   filter: brightness(70%); /* 画像を暗くする */
  
}

.slick-text {
  position: absolute;
  color: #fff;

left: 50%;
transform: translateX(-50%);
bottom: 20%;




}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider1 .slick-slide {
   margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
   position: absolute;/*絶対配置にする*/
   top: 42%;
   cursor: pointer;/*マウスカーソルを指マークに*/
   outline: none;/*クリックをしたら出てくる枠線を消す*/
   border-top: 2px solid #666;/*矢印の色*/
   border-right: 2px solid #666;/*矢印の色*/
   height: 15px;
   width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
   left: -1.5%;
   transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
   right: -1.5%;
   transform: rotate(45deg);
}





.service {
  margin-bottom: 50px;
  position: relative;
  @include mq(md) {
    margin-bottom: 100px;
  }

}


/*==================================================
スライダーのためのcss
===================================*/
.slider2 {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width:94%;

  margin-bottom: 50px;
  margin-top: 50px;
  @include mq(md) {
    margin-left: 300px;
    margin-bottom: 100px;
    margin-top: 100px;
  }


}

.slider2 li {
  position: relative;
}

.slider2 img {
   width:100%;/*スライダー内の画像を横幅100%に*/
   height:auto;
   filter: brightness(70%); /* 画像を暗くする */
  
}

.slick-text {
  position: absolute;
  color: #fff;
  width: 100%;
  text-align: center;

left: 50%;
transform: translateX(-50%);
bottom: 20%;




}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider2 .slick-slide {
   margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
   position: absolute;/*絶対配置にする*/
   top: 42%;
   cursor: pointer;/*マウスカーソルを指マークに*/
   outline: none;/*クリックをしたら出てくる枠線を消す*/
   border-top: 2px solid #666;/*矢印の色*/
   border-right: 2px solid #666;/*矢印の色*/
   height: 15px;
   width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
   left: -1.5%;
   transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
   right: -1.5%;
   transform: rotate(45deg);
}


.service__bg {
  background:#f4f4f4;
  height: 500px;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: -70px;
  @include mq(md) {
    height: 600px;
  }
}

/*==================================================
スライダーのためのcss
===================================*/
.slider3  {
margin-top: -100px;
pointer-events: none
}

.slider3 img {
  width:1500px;/*スライダー内の画像を横幅100%に*/
  height:auto;
  @include mq(md) {
    width:2500px;/*スライダー内の画像を横幅100%に*/
  }

}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider3 .slick-slide {
  margin:0 10px;/*スライド左右の余白調整*/

}



.news {
  // position: relative;
  background:#f4f4f4;
  padding-top: 100px;
  padding-bottom: 100px;
}

.news-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
  margin-top: 100px;
  background: #fff;
  padding-block: 50px;
  padding-inline: 30px;
  @include mq(md) {
    gap: 40px;
  }
}

.news-item {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mq(md) {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
  }

}

.news-list__img {}

.news-list__img a {
  display: block;
  transition: all  0.3s ease;
  &:hover {
    opacity: 0.6;
  }
      
}

.news-list__img a img {

  object-fit: cover;
  aspect-ratio: 3 / 2;
  @include mq(md) {
    min-width: 200px;
    width: 200px;
  }
}

.news-list__content {

}

.news-list__title {
  margin-bottom: 5px;
  font-size: 18px;
}

.news-list__title a {
  transition: all  0.3s ease;
  &:hover {
    opacity: 0.6;
  }
      
}

.news__time {
  margin-bottom: 16px;
  display: block;
  font-size: 14px;
}

.news-list__text {}

.news-list__text a {
  transition: all  0.3s ease;
  &:hover {
    opacity: 0.6;
  }
      
}




.footer {
  background: #014592;
  position: relative;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 10px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer__list {

}

.footer__item {
  line-height: 1.5;
}

.footer__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer__nav-list {
  display: none;
  @include mq(md) {
    display: flex;
    gap: 30px;

  }

}

.footer__nav-item {}

.footer__nav-item a {
transition: all  0.3s ease;
&:hover {
  opacity: 0.6;
}
    
}

.footer__copyright {
  text-align: center;
}

.footer__copyright small {}


.footer__top {
  position: absolute;
  top: 120px;
  right: 7%;

}

.footer__top a {

}

.footer__top img {
  width: 50px;

  opacity: 0;
  animation: fade 18s linear infinite;
}

.footer__top img:nth-child(1) {
  animation-delay: 0s;
}

.footer__top img:nth-child(2) {
  animation-delay: 6s;
}

.footer__top img:nth-child(3) {
  animation-delay: 12s;
}

@keyframes fade {
  0%, 33.33%, 100% {
      opacity: 0;
  }
  16.66%, 50% {
      opacity: 1;
  }
}

// wp
.wp-logo-b {
  margin-top: 20px;
  margin-bottom: 80px;
  text-align: center;
}

.wp-logo-b img {
  width: 1000px;
}

.wp-title {
  padding-bottom: 50px;
}

.wp-title-en {
  display: block;
  font-size: 20px;

}

.wp-title-ja {
  display: block;
  font-size: 30px;
  font-weight: bold;
}

.wp-home {
  text-align: center;
  margin-top: 30px;

  padding-bottom: 60px;
  @include mq(md) {
    text-align: right;
    margin-right: 50px;

      
  }

}

.wp-home a {
  transition: all  0.3s ease;
  display: inline-block;
  &:hover {
    opacity: 0.6;
  }
      
}

.wp-home a img {
  width: 150px;
  @include mq(md) {
    width: 200px;
  }
}



.wp-inline-b {
  display: inline-block;
}




// wp-about wp-reason

.wp-about {
  margin-top: 80px;
  padding-top: 50px;
  padding-bottom: 100px;
  font-size: 16px;
  line-height: 2;
  @include mq(md) {
    font-size: 18px;
  }

}

.wp-about__container {
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    padding:30px;
    border: 3px solid #014592;
    @include mq(md) {
      padding: 100px 100px 50px 100px;
    }
}

.wp-about__title-text {
  margin-bottom: 50px;
}

.wp-about__list {
padding-bottom: 50px;
}

.wp-about__item {
  margin-bottom: 50px;
}

.wp-about__item-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.wp-about__item-title span {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.wp-about__item-text {}

.wp-about__item ul {}

.wp-about__item ul li {}

.wp-about__end-text {
padding-bottom: 30px;
}


.wp-archive {
  margin-top: 180px;
 
}

.wp-archive  .news-list{
  margin-top: 50px;

}

.wp-pagenavi {
  
  display: flex;
  justify-content: center;
  gap:8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 50px;
}

.wp-archive__page-nation .page  {
  padding: 8px;
  border: none;
  margin: 0;
  display: block;
  cursor: pointer;
}


.wp-archive__page-nation .pages {
  margin-right: 20px;
  border: none;
  
 
}


.wp-archive__page-nation .current {
  color: #fff;
  background: #014592;
  border: none;
  padding: 8px;
  margin: 0;
  display: block;
}
.wp-archive__page-nation .extend {

  border: none;
}

.wp-archive__page-nation .previouspostslink {

  border: none;
}
.wp-archive__page-nation .nextpostslink {

  border: none;
}

.wp-single {
  margin-top: 150px;
  margin-bottom: 50px;
}

.wp-single__inner {
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: px;
}


.wp-single  .section-title-flex {

  @include mq(lg) {
    display: flex;
    justify-content: space-between;
    gap: 150px;
  }

}

.wp-single  .section-title {
  @include mq(lg) {
    width: 50%;

  }


}

.wp-single  .section-title-en {
  display: block;
  font-size: 24px;

}

.wp-single  .section-title-ja {
  display: block;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  @include mq(lg) {
      margin-bottom: 0;
  }
}


.wp-single  .section-title-text {
  line-height: 2;


  @include mq(lg) {
    width: 50%;
  }
}


.wp-single-img {
  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.wp-single__title {
  font-size: 18px;
  margin-bottom: 10px;
}
.wp-single__time {
  margin-bottom: 20px;
  display: block;
}

.wp-single__text {
  margin-bottom: 60px;
}

.wp-single__page-nation {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}
.wp-single__page-nation a {
  transition: all  0.3s ease;
  &:hover {
    opacity: 0.6;
  }
}

 .wp-single__flex {
display: flex;
flex-direction: column;

@include mq(md) {
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
 }

 .wp-single .wp-home {
  text-align: center;
  margin-top: 30px;


  padding-bottom: 60px;
  @include mq(md) {
    margin-right: 0px;

      
  }

}

.wp-single .wp-home a {
  transition: all  0.3s ease;
  display: inline-block;
  &:hover {
    opacity: 0.6;
  }
      
}

.wp-single .wp-home a img {
  width: 150px;
  @include mq(md) {
    width: 200px;
  }
}
.wp-archive-btn{
  text-align: center;
  margin-top: 30px;
  display: inline-block;


  padding-bottom: 10px;
  @include mq(md) {
    margin-right: 0px;

      
  }

}

.wp-archive-btn a {
  transition: all  0.3s ease;
  display: inline-block;
  &:hover {
    opacity: 0.6;
  }
      
}

.wp-archive-btn a img {
  width: 150px;
  @include mq(md) {
    width: 200px;
  }
}